<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beforeRunningCommand</key>
	<string>saveActiveFile</string>
	<key>command</key>
	<string>#!/usr/bin/env python
import sys
import os
sys.path.append(os.environ['TM_BUNDLE_SUPPORT'])

from docutils.core import publish_parts

from webpreview import html_header, html_footer

doc = publish_parts(sys.stdin.read(),writer_name='HTML')
print html_header(doc.get("title","Preview"),doc.get("subtitle",""))
print doc["html_body"]
print html_footer</string>
	<key>input</key>
	<string>document</string>
	<key>keyEquivalent</key>
	<string>^~@p</string>
	<key>name</key>
	<string>Preview</string>
	<key>output</key>
	<string>showAsHTML</string>
	<key>scope</key>
	<string>text.restructuredtext</string>
	<key>uuid</key>
	<string>7A099026-D785-48D9-ACAD-318ECF2A3BE4</string>
</dict>
</plist>
